html {
  font-family: arial;
}
h1#title {
  font-size: 2.5em;
}
div#main {
  margin: auto;
  width: 100%;
  max-width: 700px;
  margin-bottom: 200px;
  word-wrap: break-word;
}
code {
  font-size: 14px !important;
}
p#donate {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}